/* --- BEGIN INDEX STYLES --- */

body {
  background: url('../images/body-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.overlay {
  display: block;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6,32,51,.6);
  z-index: 2;
  overflow: auto;
}

.header-container {
  padding: 2rem;
  max-width: none;
  background-color: rgba(6,32,51,.6);
}

.body-container {
  margin-top: 2%;
  margin-bottom: 25%;
}

.header-logo {
  height: 7rem;
}

.header-logo-responsive-swap {
  height: 4rem;
  display: none;
}

.csv-download-button {
  float: right;
  margin-top: 2%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  background-color: rgba(6,32,51,.8);
  color: white;
  padding: 2rem;
}

.footer-logo {
  height: 7rem;
  margin-left: 1.5rem;
}

.footer-link-container {
  text-align: center;
  float: left;
}

.logo-and-copyright {
  float: left;
  font-size: 14px;
}

.footer-lists {
  width: 100%;
}

.footer-list {
  float: left;
}

.footer-link-list {
  list-style: none;
}

.footer-link-list > li {
  margin-bottom: 1rem;
}

.footer-link-list > li > a {
  color: white;
}

.footer-link-list > li > a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 20px white;
}

.sponsor {
  float: right;
  font-size: 14px;
}

.sponsor-image {
  height: 6rem;
  margin-left: 25%;
}

/* --- END INDEX STYLES --- */


/* --- BEGIN SUBMISSION FORM STYLES --- */

label {
  color: white;
}

.submission-form-title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.required-info-text {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}

.required-info-text-symbol {
  color: red;
  font-size: 16px;
  vertical-align: text-top;
}

.duck-feeding-data-form > .form-row {
  margin-bottom: 2rem;
}

.tooltip-inner {
  max-width: 300px;
  width: 300px;
}

.form-row > label:after, .form-row > div > label:after {
  content: "  *";
  color: red;
}

.submission-button {
  margin-bottom: 7rem;
}

/* --- END SUBMISSION FORM STYLES --- */


/* --- BEGIN AFTER SUBMISSION STYLES --- */

.after-submission-photo {
  height: 30rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: 0px 0px 50px white;
}

.after-submission-message {
  text-align: center;
}

.after-submission-text {
  color: white;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* --- END AFTER SUBMISSION STYLES --- */


/* --- BEGIN RESPONSIVE MEDIA STYLES --- */

@media screen and (max-width: 1600px) {

  .footer {
    padding: 1rem;
  }

  .footer-link-container {
    width: 65%;
  }
}

@media screen and (max-width: 1200px) {

  .footer-link-container {
    width: 50%;
  }

  .footer-lists {
    margin-left: 10%;
  }
}

@media screen and (max-width: 830px) {
  .header-container {
    text-align: center;
  }
  .header-logo {
    display: none;
  }

  .header-logo-responsive-swap {
    display: inline-block;
  }

  .csv-download-button {
    margin-top: 7%;
    float: none;
    margin-left: 10%;
  }

  .after-submission-photo {
    height: 20rem;
  }

  .sponsor {
    display: none;
  }

  .logo-and-copyright {
    display: none;
  }

  .footer-lists {
    margin-left: 0;
  }

  .footer-link-container {
    width: 100%;
  }
}

/* --- END RESPONSIVE MEDIA STYLES --- */
