/* --- BEGIN INDEX STYLES --- */

body {
  background: url('../images/body-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6,32,51,.6);
  z-index: 2;
  overflow: auto;
}

.header-container {
  background-color: green;
  color: blue;
  padding: 2rem;
  max-width: none;
  background-color: rgba(6,32,51,.6);
}

.body-container {
  margin-top: 3rem;
}

.header-logo {
  height: 7rem;
}

.header-logo-responsive-swap {
  height: 4rem;
  display: none;
}

.csv-download-button {
  float: right;
  margin-top: 2%;
}

/* --- END INDEX STYLES --- */


/* --- BEGIN SUBMISSION FORM STYLES --- */

label {
  color: white;
}

.submission-form-title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.required-info-text {
  color: white;
  font-size: 12px;
  margin-bottom: 0;
}

.required-info-text-symbol {
  color: red;
  font-size: 16px;
  vertical-align: text-top;
}

.duck-feeding-data-form > .form-row {
  margin-bottom: 2rem;
}

.tooltip-inner {
  max-width: 300px;
  width: 300px;
}

.form-row > label:after, .form-row > div > label:after {
  content: "  *";
  color: red;
}

.submission-button {
  margin-bottom: 5rem;
}

/* --- END SUBMISSION FORM STYLES --- */


/* --- BEGIN AFTER SUBMISSION STYLES --- */

.after-submission-photo {
  height: 30rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: 0px 0px 50px white;
}

.after-submission-message {
  text-align: center;
}

.after-submission-text {
  color: white;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* --- END AFTER SUBMISSION STYLES --- */


/* --- BEGIN RESPONSIVE MEDIA STYLES --- */

@media screen and (max-width: 800px) {
  .header-container {
    text-align: center;
  }
  .header-logo {
    display: none;
  }

  .header-logo-responsive-swap {
    display: inline-block;
  }

  .csv-download-button {
    margin-top: 7%;
    float: none;
    margin-left: 10%;
  }

  .after-submission-photo {
    height: 20rem;
  }
}

/* --- END RESPONSIVE MEDIA STYLES --- */
