{% extends 'index.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xl after-submission-message">
      <div><img src="{{url_for('static', filename=photo_filename)}}" class="after-submission-photo"></div>
      <div class="after-submission-text">
        <p>Your feeding session data has been successfully submitted <span class="confirmation-icon">&#10004;</span></p>
        <p>We hope you enjoy this hilarious duck photo as thanks for your submission!</p>
      </div>
      <div class="submit-more-data">
        <a href="/"><button class="btn btn-primary">Submit More Feeding Data</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
