<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A repository of human duck-feeding habits around the world.">
    <meta name="author" content="Dahv Reinhart">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <title>International Duck Feeding Habits Database</title>
  </head>
  <body>
    <div class="container header-container">
      <div class="row">
          <div class="col-md-6 col-md-offset-4">
            <a href="{{url_for('get_feeding_data_csv_download')}}"><button class="btn btn-primary">Download Feeding Data</button></a>
          </div>
      </div>
    </div>
    <div class="body-container">
      {% block body %}{% endblock %}
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
