{% extends 'index.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="duck-feeding-data-form" method=POST action="{{url_for('submit_feeding_data')}}">
        <div class="form-row">
          <label>Location:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="location" placeholder="1234 Broadway Street, New York City, New York, USA" required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="right" title="Where did you feed the ducks? Please use a full location including a street address, state/province and country."><b>?</b></span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <label>Food Type:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="food_type" placeholder="Grain" required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="right" title="What general type of food did you feed the ducks? This could be something like 'insects' or 'grain'."><b>?</b></span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <label>Specific Food Item Name:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="specific_food" placeholder="Sourdough Bread Crumbs" required>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="right" title="What specific food item did you feed the ducks? This could be something like 'poppy seeds' or 'dried oats'. Please include a brand name if possible."><b>?</b></span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3">
            <label>Food Weight (g):</label>
            <div class="input-group">
              <input type="number" min="0" class="form-control" name="food_quantity_grams" placeholder="" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="top" title="How much food, weighed in grams, did you feed the ducks over the course of your entire feeding session?"><b>?</b></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label>Number of Ducks:</label>
            <div class="input-group">
              <input type="number" min="0" class="form-control" name="number_of_ducks" placeholder="" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="top" title="Approximately how many ducks did you feed over the course of your entire feeding session?"><b>?</b></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label>Time of Feeding:</label>
            <div class="input-group">
              <input type="time" class="form-control" name="feeding_time" placeholder="" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="top" title="What time of day did you begin your duck feeding session?"><b>?</b></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label>Make Recurring?</label>
            <div class="input-group">
              <select class="custom-select form-control" name="make_recurring">
                <option value="" selected>No</option>
                <option value="True">Yes</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" data-toggle="tooltip" data-placement="top" title="Selecting 'yes' will place your submission on a one (1) week recurring schedule. This means, the input you submitted here will be automatically re-submitted for you once each day for the next 6 days (not including the current day). This could be useful if you feed the ducks in the exact same way each day. When using this feature, don't forget to come back this time next week if you wish to make another submission!"><b>?</b></span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit Feeding Data</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
